<ion-view title="Register">
  <ion-content class="has-header padding">
  <form name="signUpForm">
	  <label class="item item-input">
	    <input type="text" ng-model="user.display_name" placeholder="Display Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" ng-model="user.username" placeholder="Username">
	  </label>
	  <label class="item item-input">
	    <input type="password" ng-model="user.password" placeholder="Password">
	  </label>
	  <label class="item item-input">
	    <input type="text" ng-model="user.email_address" placeholder="Email Adddress">
	  </label>
	  <button class="button button-block button-positive" ng-click="signUp(user);">Sign Up</button>
	</form>
  </ion-content>
</ion-view>
